@import 'variables';

#cta {
//   border: 2px solid hotpink;
  margin-bottom: 400px;
  position: relative;
  z-index: -1;
  text-align: center;
  background: linear-gradient(to right, #1EF3A7, $pri-color);
  color: white;
// //box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit;
  box-shadow: 0px 0px 100px 50px darken(#2E2E2E, 0%);
}