@import 'variables';

.general-input-styles {
  box-sizing: border-box;
  padding: .4rem;
  margin-top: .5rem;
  font-size: 1rem;
  color: $text-color;
  &:focus {
    outline: none;
  }
}
.input-border {
  border: none;
  border-bottom: 2px solid $pri-color;
}

#demonstrate {
  background: whitesmoke;
  form {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr) 3fr 4fr 1fr;
    grid-template-areas: 
      "first last"
      "email email"
      "skill wod-type"
      "muscle-grp rep-scheme"
      "timer timer"
      "lifts lifts"
      "equip equip"
      "submit submit";
    grid-gap: 1rem;
    label, legend {
      color: $text-color;
    }
    .input-text, select {
      @extend .general-input-styles;
      @extend .input-border;
      width: 100%;
    }
    select {
      -webkit-appearance: none;
      border-radius: 0px;
      background: white;
    }
    fieldset {
      border: 2px solid $pri-color;
      legend {
        padding: 0 .5rem;
      }
    }
    .fieldset-lifts-grid {
      margin: .5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: .5rem;
      .input-max {
        @extend .general-input-styles;
        @extend .input-border;
        display: block;
        width: 100%;
      }
    }
    .fieldset-equip-grid {
      margin: .5rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: .5rem;
    }
    button {
      background: linear-gradient(to right, #1EF3A7, $pri-color);
      color: whitesmoke;
      font-size: 1.25rem;
      cursor: pointer;
      border: none;
      box-shadow: 0 5px 5px #aaa;
      transition: box-shadow .2s;
      &:active {
        box-shadow: none;
      }
      &:focus {
        outline: none;
      }
    }
    #form-first-name {
      grid-area: first;
    }
    #form-last-name {
      grid-area: last;
    }
    #form-email {
      grid-area: email;
    }
    #form-skill-lvl {
      grid-area: skill;
    }
    #form-wod-type {
      grid-area: wod-type;
    }
    #form-muscle-grp {
      grid-area: muscle-grp;
    }
    #form-rep-scheme {
      grid-area: rep-scheme;
    }
    #form-timer {
      grid-area: timer;
    }
    #form-lifts {
      grid-area: lifts;
    }
    #form-equip {
      grid-area: equip;
    }
    #form-submit-btn {
      grid-area: submit;
    }
    .wod-span {
      font: {
        size: .8rem;
        style: italic;
      }
      color: $pri-color;
    }

  }
}

@media screen and (max-width: 800px) {
  // #demonstrate {
  //   form {
  //     fieldset {
  //       .fieldset-grid {
  //         grid-template-columns: repeat(2, 1fr);
  //       }
  //     }
  //   }
  // }
  .fieldset-equip-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}