$pri-color: rgba(70,224,188,100);
$text-color: rgba(93,93,93,100);
$line-height: 1.6;
$footer-height-desktop: 400px;
$footer-color: #2E2E2E;
$max-width: 850px;
$break-point: 850px;
$break-point-plus-one: 851px;