$green: rgba(12, 245, 116, 1);
$teal: rgba(70, 224, 188, 1);
$blue: rgba(57, 169, 219, 1);
$yellow: rgba(232, 226, 136, 1);
$orange: rgba(243, 146, 55, 1);
$red: rgba(214, 50, 48, 1);
$text-color: rgba(93,93,93,1);
$line-height: 1.6;
$footer-height-desktop: 470px;
$footer-color: #2E2E2E;
$max-width: 850px;
$break-point: 850px;
$break-point-plus-one: 851px;