<main class="router-section">

  <div class="page-title">
    <h1>Donate</h1>
  </div>

  <article class="page-intro-article">
    <div class="section-content">
      <h5 class="page-article-header">A donation of any amount is much appreciated!</h5>
      <p class="page-article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam iure consectetur obcaecati dolore necessitatibus qui deleniti repudiandae, sed omnis ut inventore, quam hic adipisci sapiente illum facilis. Qui maxime assumenda provident, eveniet, corrupti magni vitae voluptas natus aliquam laboriosam vel?</p>
    </div>
  </article>

  <div class="divider-img donate-img-1"></div>

  <p class="section">DONATION FORM - CREATE SEPARATE COMPONENT</p>

  <div class="divider-img donate-img-2"></div>

</main>

<app-cta-bar></app-cta-bar>