<section id="features" class="section">
  <div class="section-content">
    <h2 class="section-head color-gradient">The complete CrossFit<span class="registered-logo-md">&reg;</span> workout platform</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore enim dolore et delectus illum unde aliquid tempora laboriosam amet! Harum, sapiente ullam? Quae eaque amet doloremque similique ipsa soluta iste, quos voluptatibus commodi corrupti ut repellendus quam impedit voluptas.</p>
    <ul>
      <li>Custom WOD Generator</li>
      <li>Muscle Targeting</li>
      <li>Workout Tracker</li>
      <li>Timer</li>
      <li>Social Media Integration</li>
    </ul>
    <button class="btn features-btn">
      See Complete List of Features
    </button>
  </div>
</section>