@import '../../../assets/scss/variables',
        '../../../assets/scss/main-classes';

.cta {
  position: relative;
  z-index: -1;
  background: linear-gradient(to right, #1EF3A7, $teal);
  color: white;
  padding: 6rem 1rem;
//box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit;
  box-shadow: 0px 0px 100px 50px darken($footer-color, 0%);
  text-align: center;
  p {
    color: white;
    font-size: 2rem;
  }
}

@media only screen and (min-width: $break-point) and (min-height: $footer-height-desktop) {
  .cta {
    margin-bottom: $footer-height-desktop;
  }
}
