<main class="router-section">

  <div class="page-title">
    <h1>Account</h1>
  </div>
  
  <div *ngIf="accountLoaded" class="section-content">
    
    <aside class="user-info">
      <img class="user-image" src="{{user.image}}">
      
      <div class="user-info-text">
        <h4>{{ user.firstName }} {{ user.lastName }}</h4>
        <div>
          <p>Username: {{ user.username }}</p>
          <p>Email: {{ user.email }}</p>
        </div>
      </div>
    </aside>
  
    <section class="user-stats">

      <form [formGroup]="form"  (submit)="submit()">
        <fieldset>
          <legend>Info</legend>

          <label class="form-field">
            <span class="input-discription">Affiliate:</span>
            <input class="input-field"
                   type="text" 
                   name="affiliate"
                   formControlName="affiliate">
          </label>

          <label class="form-field">
            <span class="input-discription">Skill Level:</span>
            <select name="skillLvl" formControlName="skillLvl">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="athlete">Athlete</option>
            </select>
          </label>

          <label class="form-field">
            <span class="input-discription">Gender:</span>
            <select name="gender" formControlName="gender">
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>
          </label>

        </fieldset>

        <fieldset>
          <legend>PRs</legend>

          <label class="form-field">
            <span class="input-discription">Max Squat:</span>
            <input 
              class="input-field" 
              type="number" 
              name="maxSquat"
              formControlName="maxSquat">
          </label>

          <label class="form-field">
            <span class="input-discription">Max Deadlift:</span>
            <input 
              class="input-field" 
              type="number" 
              name="maxDead"
              formControlName="maxDead">
          </label>

          <label class="form-field">
            <span class="input-discription">Max Snatch:</span>
            <input 
              class="input-field" 
              type="number" 
              name="maxSnatch"
              formControlName="maxSnatch">
          </label>

          <label class="form-field">
            <span class="input-discription">Max Bench:</span>
            <input 
              class="input-field" 
              type="number" 
              name="maxBench"
              formControlName="maxBench">
          </label>
        </fieldset>

        <fieldset>
          <legend>Best Times</legend>

          <label class="form-field">
            <span class="input-discription">Murph Time:</span>
            <div class="time-input">
              <span class="time-discription">Hr:</span>
              <input 
                class="time-input-field" 
                type="number"
                step="1"
                min="0"
                max="59"
                name="murphHrs"
                formControlName="murphHrs">
             <span class="time-discription">Min:</span>
             <input 
                class="time-input-field" 
                type="number"
                step="1"
                min="0"
                max="59"
                name="murphMin"
                formControlName="murphMin">
              <span class="time-discription">Sec:</span>
              <input 
                class="time-input-field" 
                type="number"
                step="1"
                min="0"
                max="59"
                name="murphSec"
                formControlName="murphSec">
            </div>
          </label>

          <label class="form-field">
            <span class="input-discription">Diane Time:</span>
            <div class="time-input">
              <span class="time-discription">Hr:</span>
              <input 
                class="time-input-field" 
                type="number"
                step="1"
                min="0"
                max="59"
                name="dianeHrs"
                formControlName="dianeHrs">
              <span class="time-discription">Min:</span>
              <input 
                class="time-input-field" 
                type="number"
                step="1"
                min="0"
                max="59"
                name="dianeMin"
                formControlName="dianeMin">
              <span class="time-discription">Sec:</span>
              <input 
                class="time-input-field" 
                type="number"
                step="1"
                min="0"
                max="59"
                name="dianeSec"
                formControlName="dianeSec">
            </div>
          </label>

          <label class="form-field">
            <span class="input-discription">DT Time:</span>
            <div class="time-input">
              <span class="time-discription">Hr:</span>
              <input 
                class="time-input-field" 
                type="number"
                step="1"
                min="0"
                max="59"
                name="dtHrs"
                formControlName="dtHrs">
              <span class="time-discription">Min:</span>
              <input 
                class="time-input-field" 
                type="number"
                step="1"
                min="0"
                max="59"
                name="dtMin"
                formControlName="dtMin">
              <span class="time-discription">Sec:</span>
              <input 
                class="time-input-field" 
                type="number"
                step="1"
                min="0"
                max="59"
                name="dtSec"
                formControlName="dtSec">
            </div>
          </label>

          <label class="form-field">
            <span class="input-discription">Badger Time:</span>
            <div class="time-input">
              <span class="time-discription">Hr:</span>
              <input 
                class="time-input-field" 
                type="number"
                step="1"
                min="0"
                max="59"
                name="badgerHrs"
                formControlName="badgerHrs">
              <span class="time-discription">Min:</span>
              <input 
                class="time-input-field" 
                type="number"
                step="1"
                min="0"
                max="59"
                name="badgerMin"
                formControlName="badgerMin">
              <span class="time-discription">Sec:</span>
              <input 
                class="time-input-field" 
                type="number"
                step="1"
                min="0"
                max="59"
                name="badgerSec"
                formControlName="badgerSec">
            </div>
          </label>

        </fieldset>

        <fieldset>
          <legend>Equipment</legend>

          <label *ngFor="let eqpmt of eqpmtArray" class="input-equip">
            <input  type="checkbox"
                    name="{{ eqpmt.value }}"
                    value="{{ eqpmt.value }}"
                    formControlName="{{ eqpmt.value }}">
            <span>{{ eqpmt.name }}</span>
          </label>

        </fieldset>
        
        <div class="btn-grp">
          <button 
            class="btn btn-info"
            type="button"
            (click)="editForm()">Edit Profile
          </button>

          <button 
            class="btn btn-submit"
            type="submit"
            *ngIf="editFormBool === true">Submit
          </button>

          <button 
            class="btn btn-cancel"
            type="reset"
            *ngIf="editFormBool === true" 
            (click)="cancelEdit()">Cancel
          </button>
          
        </div>
      </form>
      
    </section>
  </div>

</main>

<app-cta-bar></app-cta-bar>