<div class="section-content">
  <form [formGroup]="form" (submit)="submit()">
    
    <label class="form-first-name">First Name
      <input
        class="input-text"
        type="text" 
        name="firstName" 
        formControlName="firstName">
        <div [ngClass]="{ 
              'form-has-error': (form.controls.firstName.errors && form.controls.firstName.dirty), 
              'form-has-success': !form.controls.firstName.errors}">
          <ul class="required-ul">
            <li *ngIf="form.controls.firstName.errors?.required && form.controls.firstName.dirty">This field is required</li>
            <li *ngIf="form.controls.firstName.errors?.maxlength && form.controls.firstName.dirty">This field can be no more than 20 characters long</li>
          </ul>
        </div>
    </label>

    <label class="form-last-name">Last Name
      <input
        class="input-text"
        type="text"
        name="lastName"
        formControlName="lastName">
        <div [ngClass]="{ 
              'form-has-error': (form.controls.lastName.errors && form.controls.lastName.dirty), 
              'form-has-success': !form.controls.lastName.errors}">
          <ul class="required-ul">
            <li *ngIf="form.controls.lastName.errors?.required && form.controls.lastName.dirty">This field is required</li>
            <li *ngIf="form.controls.lastName.errors?.maxlength && form.controls.lastName.dirty">This field can be no more than 20 characters long</li>
          </ul>
        </div>
    </label>

    <label class="form-email">Email
      <input
        class="input-text"
        type="email"
        name="email"
        formControlName="email">
        <div [ngClass]="{ 
              'form-has-error': (form.controls.email.errors && form.controls.email.dirty), 
              'form-has-success': (!form.controls.email.errors && emailAvailable === true)
            }">
          <ul class="required-ul">
            <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
            <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid email</li>
          </ul>
        </div>
    </label>

    <label class="form-request-type">Request Type
      <select formControlName="requestType">
        <option>Question</option>
        <option>Comment</option>
        <option>Feature Request</option>
        <option>Exercise Addition</option>
        <option>Kudos</option>
      </select>
      <div [ngClass]="{ 
              'form-has-error': (form.controls.email.errors && form.controls.email.dirty), 
              'form-has-success': (!form.controls.email.errors && emailAvailable === true)
            }">
          <ul class="required-ul">
            <li *ngIf="form.controls.requestType.errors?.required &&
             (form.controls.message.errors?.required && form.controls.message.dirty)">Please select an option.</li>
          </ul>
      </div>
    </label>

    <label class="form-message">Message
      <textarea class="input-text" rows="6" required formControlName="message"></textarea>
      <ul class="required-ul">
        <li *ngIf="form.controls.message.errors?.required && form.controls.message.dirty">Please include a brief message.</li>
      </ul>
    </label>

    <input class="btn submit btn-gradient-right" type="submit" name="submit" value="Submit">
    
  </form>
  <h5 class="message">{{ message }}</h5>
</div>