@import '../../../assets/scss/variables',
        '../../../assets/scss/main-classes';


.features-img-1 {
  background-image: url('https://img.huffingtonpost.com/asset/58fef0152600001400c47847.jpg?ops=crop_0_0_1600_800,scalefit_820_noupscale');
}

.features-img-2 {
  background-image: url('http://photos.demandstudios.com/getty/article/235/161/467294074.jpg');
}

.feature-discription {
  // border: 2px solid red;
  border-bottom: 2px solid darkgrey;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }
}
.section-2-article-header {
  text-align: center;
  color: $teal;
  font-size: 1.5rem;
}
.grid-paragraph {
  text-align: center;
}
.grid-icon {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.release-date {
  font-style: italic;
}

@media screen and (min-width: $break-point) {

}