<main id="top" class="router-section">

  <div class="page-title">
    <h1>Features</h1>
  </div>

  <article class="page-intro-article">
    <div class="section-content">
      <h5 class="page-article-header">Planning your WOD has never been easier, get ready to sweat!</h5>
      <p class="page-article-paragraph">Forgd is the premier custom workout generator. Input a few data points such as desired workout type and available equipment, and off you go! A high quality, fast workout that anyone can perform. All features are listed below.</p>
    </div>
  </article>

  <div class="divider-img features-img-1"></div>

  <section class="section features-list-section">
    <div class="section-content">
      <article class="text-left-image-right">
        <h4 class="features-list-article-header">Workout Generator</h4>
        <p class="grid-paragraph">Any place, any time, with whatever equipment you have, we can generate a workout that meets your specific needs.</p>
        <fa class="grid-icon" name="cog" size="5x"></fa>
      </article>

      <hr>

      <article class="text-right-image-left">
        <h4 class="section-2-article-header">Tracking</h4>
        <div class="grid-paragraph">
          <p>Track your progress and continue toward your goal with our integrated workout tracking.</p>
          <p class="release-date">Feature release date: TBD</p>
        </div>
        <fa class="grid-icon" name="line-chart" size="5x"></fa>
      </article>
      
      <hr>

      <article class="text-left-image-right">
        <h4 class="section-2-article-header">History</h4>
        <div class="grid-paragraph">
          <p>Remember that workout you did that one time at that one place? Me neither. Never forget a workout again with our WOD history.</p>
          <p class="release-date">Feature release date: TBD</p>
        </div>
        <fa class="grid-icon" name="history" size="5x"></fa>
      </article>
      
      <hr>

      <article class="text-right-image-left">
        <h4 class="section-2-article-header">Any Location</h4>
        <div class="grid-paragraph">
          <p>Do you travel often? It can be difficult planning a workout at a gym you've never been to. With our gym profiler, you can skip the hassle of surveying the gym before planning your workout.</p>
          <p class="release-date">Feature release date: TBD</p>
        </div>
        <fa class="grid-icon" name="map-marker" size="5x"></fa>
      </article>

      <hr>

      <article class="text-left-image-right">
        <h4 class="section-2-article-header">Mobile</h4>
        <div class="grid-paragraph">
          <p>Living a healthy, active lifestyle is not always easy to those constantly on the run (pun intended). That is why we are working on a mobile app.</p>
          <p class="release-date">Feature release date: TBD</p>
        </div>
        <fa class="grid-icon" name="mobile" size="5x"></fa>
      </article>

      <hr>

      <article class="text-right-image-left">
        <h4 class="section-2-article-header">Profile</h4>
        <div class="grid-paragraph">
          <p>Tired of selecting your available equipment every time you generate a workout? Sign up in order to save your profile settings.</p>
          <p class="release-date">Feature release date: TBD</p>
        </div>
        <fa class="grid-icon" name="user" size="5x"></fa>
      </article>
    </div>
  </section>

  <div class="divider-img features-img-2"></div>

</main>

<app-cta-bar></app-cta-bar>