<main class="router-section">
  <div class="page-title">
    <h1>Privacy Policy</h1>
  </div>

  <section class="section">
    <div class="section-content">
      <article>
        <p class="article--para">By accessing or using the Forgd Web site, you agree to the terms of this Online Privacy Policy, as outlined below. If you do not agree to these terms, please do not access or use this site.</p>

        <h3 class="article--header">Collection of Personal Information</h3>
        
        <p class="article--para">When you engage in certain activities on this site, you may be asked to provide certain information about yourself by filling out and submitting an online form. It is completely optional for you to engage in these activities. If you elect to engage in these activities, however, you may be required to provide personal information, such as your name, e-mail address, gender, and other personal identifying information.</p>

        <p class="article--para">When you submit personal information, you understand and agree that Forgd may transfer, store, and process your information in any of the countries in which Forgd maintains offices, including without limitation, the United States.</p>

        <p class="article--para">Forgd collects this information in order to generate custom workouts based on information you provide. Forgd also uses information that you provide as part of our effort to keep you informed about product upgrades, special offers, and other Forgd products and services. Forgd will never sell or share your information with other companies.</p>
      </article>
    </div>
  </section>
</main>

<app-cta-bar></app-cta-bar>