<main class="router-section">
  <div class="page-title">
    <h1>Your Workout</h1>
  </div>

  <section class="section workout-section">
    <div class="section-content">
      <div class="wod-display" *ngFor="let wod of wod">
        
        <p>Instructions: {{ wod.instructions }} in {{ wod.timer }} minutes.</p>
        <div *ngFor="let exercise of wod.exercises">
          <p>{{ wod.repScheme }} {{ exercise.name }}, {{ exercise.weightAmount }}</p>
        </div>

      </div>
    </div>
  </section>
  
  <section class="section notes-section">
    <div class="section-content">
      <h2 class="section-head text-color-gradient">Workout notes</h2>
    </div>
  </section>
  
</main>

<app-cta-bar></app-cta-bar>