<main class="router-section">

  <div class="page-title">
    <h1>Login</h1>
  </div>

  <section class="section">
    <div class="section-content">
      <h3>Welcome Back!</h3>
      <form [formGroup]="form" (submit)="submit()">

        <label class="form-user-name">Username
          <input
            class="input-text"
            type="text"
            name="username"
            formControlName="username"
            (blur)="usernameValidator()"
            >
            <div [ngClass]="{ 
                  'form-has-error': (form.controls.username.errors && form.controls.username.dirty), 
                  'form-has-success': (!form.controls.username.errors)
                 }">
              <ul class="required-ul">
                <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">Username is required</li>
                <li>{{ usernameErrorMessage }}</li>
              </ul>
            </div>
        </label>

        <label class="form-email">Password
          <input
            class="input-text"
            type="password"
            name="password"
            formControlName="password"
            (blur)="passwordValidator()"
            >
            <div [ngClass]="{ 
                  'form-has-error': (form.controls.password.errors && form.controls.password.dirty), 
                  'form-has-success': !form.controls.password.errors}">
              <ul class="required-ul">
                <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">Password is required</li>
                <li>{{ passwordErrorMessage }}</li>
              </ul>
            </div>
        </label>

        <input 
          class="btn submit btn-gradient-right" 
          type="submit" 
          name="submit" 
          value="Submit"
          [disabled]="!form.valid || processing"
        />
      </form>
    </div>
  </section>

</main>

<app-cta-bar></app-cta-bar>