<main class="router-section">

  <div class="page-title">
    <h1>Contact</h1>
  </div>

  <article class="page-intro-article">
    <div class="section-content">
      <h5 class="page-article-header">Tell us your thoughts</h5>
      <p class="page-article-paragraph">No one know this app better than those who use it on a regular basis. Please take a minute and give us your feedback below. We would love to hear from you!</p>
    </div>
  </article>

  <div class="divider-img contact-img-1"></div>

  <div class="section contact-form-section">
    <app-contact-form></app-contact-form>
  </div>

  <div class="divider-img contact-img-2"></div>

</main>

<app-cta-bar></app-cta-bar>