<header class="mobile-menu">

  <nav id="nav-menu-push-right" class="nav-menu nav-menu-push-right">
    
    <div class="close-btn-container">
      <span class="nav-menu-close-btn" (click)="navClose()">
        <svg width="25" height="25">
          <line x1="1" y1="24" x2="24" y2="1" />
          <line x1="1" y1="1" x2="24" y2="24" />
        </svg>
      </span>
    </div>
    
    <ul class="nav-menu-list">
      <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/features">Features</a></li>
      <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/pricing">Pricing</a></li>
      <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/">Examples</a></li>
      <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/">More</a></li>
      <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/">Check Status</a></li>
      <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/">Get Updates</a></li>
    </ul>
    <!-- <ul class="nav-menu-list">
      <li class="nav-menu-item"><a href="#" class="nav-menu-link">Payments</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link">Software</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link">What's New</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link">Blog</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link">FAQs</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link">Contact</a></li>
    </ul> -->

  
  </nav>
  
  <div id="nav-mask" class="nav-mask" (click)="navClose()"></div>

</header>