@import '../../../assets/scss/variables',
        '../../../assets/scss/main-classes';

.has-error {
  ul li {
    color: red;
  }
}
.has-success {
  color: green;
}
.required-ul {
  list-style-type: none;
}

.star {
  color: red;
}
form {
  max-width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}
.main-label {
  display: block;
  margin-bottom: 1rem;
}
label, legend {
  color: $text-color;
}
label {
  margin-bottom: 1rem;
  &:last-of-type {
    margin-bottom: 2rem;
  }
}
.input-text, select {
  @extend .general-input-styles;
  @extend .input-border;
  width: 100%;
}