<main class="router-section">

  <div class="page-title">
    <h1>About</h1>
  </div>

  <article class="page-intro-article">
    <div class="section-content">
      <h5 class="page-article-header">Why do you need Forgd?</h5>
      <p class="page-article-paragraph">Do you spend hours searching for workouts online that utilize equipment you have access to? Do you travel a lot and never know what to expect from those dinky hotel "gyms"? Do you have trouble programming a high quality workouts for your specific needs? If so, Forgd is for you. Forgd addresses all of these use cases and many more. See what you can forge.</p>
    </div>
  </article>

  <div class="divider-img about-img-1"></div>

  <article class="about-page-article section">
    <div class="section-content">
      <h5 class="page-article-header">Mission</h5>
      <p class="about-page-article-paragraph">Our mission is to help the users of this app live a healthier, more active life by giving them access to high quality, cost effective, custom workouts.</p>
    </div>
  </article>

  <div class="divider-img about-img-2"></div>

  <article class="about-page-article section">
    <div class="section-content">
      <h5 class="page-article-header">About the Founder - Colin Knebl</h5>
      <div>
        
        <p class="about-para">Hi, I'm Colin. I'm a software developer who loves exercising. I have spent most of my life since elementary school being physically active; I played competitive basketball throughout middle and high school, and picked up football the last couple of years in high school. I loved (almost) every minute of it.</p>

        <p class="about-para">Around the time I started playing football I also started working out in my parent's basement with a bench and an old set of weights. By old I mean I'm pretty sure the weight plates were filled with sand. Why you ask? A girl of course. I had to impress my crush! What better way than being able to walk around with washboard abs, right?</p>

        <p class="about-para">Despite the old equipment and vain motivation, I quickly became fascinated. I enjoyed being able to physically shape my body through some hard work. I started out at 6' 2" and 155 pounds, so it didn't take a whole lot to start seeing some changes. Inspired by my progress, I spent hours down in the basement.</p>

        <p class="about-para">After a couple of years I had put on 30 pounds, and my motivation had grown into more than just wanting to look good, but also feel good. Sure, I could tell a difference in the way I looked, but I could definitely feel a difference in the way I felt. I felt way more energized throughout the day.</p>

        <p class="about-para">Fast forward a few years, and all that hard work payed off--I got married to that girl I was trying to impress when I started. So, I stopped working out since I achieved my goal. Sike! I kept at it. And I'm thankful I did. As I have grow older life has naturally become more sedentary; without exercising on a regular basis I would feel and look terrible--which would make me feel even more terrible.</p>

        <p class="about-para">That's enough about me, so why the app? I have spent years in gyms, and I was growing tired of the time commitment it took to maintain my fitness. So I started looking for other ways to stay in shape and came across CrossFit. I think those athletes are amazing. I also liked the idea of being able to finish a workout in 20 minutes, with little equipment necessary.</p>

        <p class="about-para">I already had a bench and some weight plates (upgraded since the ones original ones I had been using), so I didn't need to get that much equipment to really be able to start working out at home. So I did the unthinkable--I quit the gym and started working out in my garage.</p>

        <p class="about-para">This was quite the change for me and I was having difficulty finding workouts to perform with the equipment I had. I would spend 20-30 minutes before my workout just trying to find a workout that I could do. It got old fast. So, as a software developer, I knew I could help myself out and started coding.</p>

        <p class="about-para">What started out as a fun side project has grown into much more. Forgd still has a long way to go, but I until it is complete (if it will ever be "complete"), but I hope that others will find it as useful as I have.</p>
      </div>
    </div>
  </article>

  <div class="divider-img about-img-3"></div>
</main>

<app-cta-bar></app-cta-bar>
