<main class="router-section">

  <div class="page-title">
    <h1>About</h1>
  </div>

  <article class="page-intro-article">
    <div class="section-content">
      <h5 class="page-article-header">Why do you need Forgd?</h5>
      <p class="page-article-paragraph">Do you spend hours searching for workouts online that utilize equipment you have access to? Do you travel a lot and never know what to expect from those dinky hotel "gyms"? Do you have trouble programming a high quality workouts for your specific needs? If so, Forgd is for you. Forgd addresses all of these use cases and many more. See what you can forge.</p>

      <h5 class="page-article-header">Mission</h5>
      <p class="page-article-paragraph">Our mission is to help the users of this app live a healthier, more active life by giving them access to high quality, cost effective, custom workouts.</p>
    </div>
  </article>

  <div class="divider-img about-img-1"></div>

  <article class="about-page-article section">
    <div class="section-content">
      <h5 class="page-article-header">Workout Programming Methodology</h5>
      <p class="about-para">The idea behind this application is to automate workout programming. With that, there is some advanced logic built into the software when programming the workout. This article will shed light on that logic and give you a clearer picture of how these workouts are generated.</p>
      
      <h6 class="about-para-header">Functional Fitness</h6>
      <p class="about-para">What is the point of doing anything that isn't functional? If you were a pilot, would you only fly your simulator with sunny, blue skies? If you were a police office, would you only practice your driving on dry roads? The answer is no. You have to prepare yourself for any potential scenario.</p>

      <p class="about-para"><span class="italic">The aim of this app is to program workouts that will increase the user's work capacity.</span> We do this through constantly varying the workouts, include functional movements in those workouts, and execute at high intensity. Let's break each of these down.</p>

      <h6 class="about-para-header">Varied</h6>
      <p class="about-para">A workout can be varied in a variety of ways. A few exampled of how you can vary a workout include:</p>
      <ul class="about-list">
        <li>movements in the workout</li>
        <li>time
          <ul class="about-inner-list">
            <li>workout length</li>
            <li>rest length</li>
          </ul>
        </li>
        <li>weight</li>
        <li>rest</li>
        <li>equipment</li>
        <li>environment
          <ul class="about-inner-list">
            <li>temperature</li>
            <li>elevation</li>
            <li>terrain</li>
          </ul>
        </li>
        <li>wearable gear (i.e. flak vest, firefighting equipment)</li>
        <li>time of day</li>
        <li>training frequency</li>
      </ul>
      <p class="about-para">This app will vary a workout </p>

      <h6 class="about-para-header">Functional</h6>
      <p class="about-para">Nearly every exercise generated will include what we consider a functional movement. For the purposes of this application a functional movement is any movement in which the user moves a quickly moves a large load over a long distance. The main functional movements incorporated in Forgd exercises include:</p>
      <ul class="about-list">
        <li>deadlifts</li>
        <li>squats</li>
        <li>cleans</li>
        <li>snatches</li>
        <li>thrusters</li>
        <li>presses</li>
      </ul>

      <h6 class="about-para-header">Intensity</h6>
      <p class="about-para">Intensity is relative to the individual. A 25 year old athlete might find 225x20 back squats intense while a 60 year old de-conditioned individual will find air squats intense. So how do you measure intensity? If you're not gasping for air at the end of these workouts, you aren't doing something right.</p>

      <h6 class="about-para-header">Workout Types</h6>
      <p class="about-para">There are several different workout types you can choose from when forging your workout.</p>
      <ul class="about-list">
        <li>single modality (singlet)</li>
        <li>couplet</li>
        <li>triplet</li>
        <li>chipper</li>
      </ul>


<!-- 
      constantly varied: movement (functional movements), time, weight, rest, gear (equipment), environment (temperature, elevation, terrain), with/without work gear, time of day, training frequency.

      high intensity: mechanics, consistency, intensity. Don't increase intensity until you can consistently perform the exercise with proper mechanics.

      Functional movements: the ability to move a large load, a long distance, quickly.
      Workout categories:
      - Weightlifting (moving large loads, long distances, quickly) (W)
        - deadlift
        - sumo dead lift high pull
        - snatch
        - squat (front, back, overhead)
        - clean
        - thruster
        - presses (all)
        - kettlebell work
        - wall balls
        - no machine movements
        - no Turkish getups

      - Gymnastics (bodyweight movements) (G)
        - push-ups
        - HSPU
        - pull-ups (kipping, strict, L, weighted)
        - rope climbs (with feet, without feet, L, weighted)
        - knees to elbows
        - sit-ups (regular, abmat, GHD)
        - air squat (foundational crossfit movement)
        - pistol squats
        - muscle-ups

      - Monostructural (M)
        - rowing
        - runnings
        - swimming
        - stairs
        - jumping
        - cycling

      workout types:
      1. single modality
        - high reps, low weight
        - low reps, HEAVY weight
        - heavy = heaviest you can while maintaining proper workout mechanics and staying consistent
        - heavy is relative to the individual
        - movements to go heavy with = functional movements
        - both women and men need to go heavy
        - all ages should go heavy
        - metrics to measure (time, distance, calories, etc.)
      2. couplet
        W,W
        W,G
        W,M
        G,W
        G,G
        G,M
        M,W
        M,G
        M,M
      3. triplet
      4. chipper (a set number of movements and a certain number of reps at each movement before moving on to the next exercise)

      Cycle
      3 on, 1 off maximizes performance - doesn't typically work in schedule

      5 on, 2 off fits in most schedules, but is very demanding on the body

      2 on, 1 off, 2 on; fits in most schedules  


    -->
    </div>
  </article>

  <div class="divider-img about-img-2"></div>

  <article class="about-page-article section">
    <div class="section-content">
      <h5 class="page-article-header">About the Founder - Colin Knebl</h5>
      <div>
        
        <p class="about-para">Hi, I'm Colin. I'm a software developer who loves exercising. I have spent most of my life since elementary school being physically active; I played competitive basketball throughout middle and high school, and picked up football the last couple of years in high school. I loved (almost) every minute of it.</p>

        <p class="about-para">Around the time I started playing football I also started working out in my parent's basement with a bench and an old set of weights. By old I mean I'm pretty sure the weight plates were filled with sand. Why you ask? A girl of course. I had to impress my crush! What better way than being able to walk around with washboard abs, right?</p>

        <p class="about-para">Despite the old equipment and vain motivation, I quickly became fascinated. I enjoyed being able to physically shape my body through some hard work. I started out at 6' 2" and 155 pounds, so it didn't take a whole lot to start seeing some changes. Inspired by my progress, I spent hours down in the basement.</p>

        <p class="about-para">After a couple of years I had put on 30 pounds, and my motivation had grown into more than just wanting to look good, but also feel good. Sure, I could tell a difference in the way I looked, but I could definitely feel a difference in the way I felt. I felt way more energized throughout the day.</p>

        <p class="about-para">Fast forward a few years, and all that hard work payed off--I got married to that girl I was trying to impress when I started. So, I stopped working out since I achieved my goal. Sike! I kept at it. And I'm thankful I did. As I have grow older life has naturally become more sedentary; without exercising on a regular basis I would feel and look terrible--which would make me feel even more terrible.</p>

        <p class="about-para">That's enough about me, so why the app? I have spent years in gyms, and I was growing tired of the time commitment it took to maintain my fitness. So I started looking for other ways to stay in shape and came across CrossFit. I think those athletes are amazing. I also liked the idea of being able to finish a workout in 20 minutes, with little equipment necessary.</p>

        <p class="about-para">I already had a bench and some weight plates (upgraded since the ones original ones I had been using), so I didn't need to get that much equipment to really be able to start working out at home. So I did the unthinkable--I quit the gym and started working out in my garage.</p>

        <p class="about-para">This was quite the change for me and I was having difficulty finding workouts to perform with the equipment I had. I would spend 20-30 minutes before my workout just trying to find a workout that I could do. It got old fast. So, as a software developer, I knew I could help myself out and started coding.</p>

        <p class="about-para">What started out as a fun side project has grown into much more. Forgd still has a long way to go, but I until it is complete (if it will ever be "complete"), but I hope that others will find it as useful as I have.</p>
      </div>
    </div>
  </article>

  <div class="divider-img about-img-3"></div>
</main>

<app-cta-bar></app-cta-bar>
