<footer class="footer">
  <div class="section-content">
    <ul id="footer-main-list" class="footer-list">
      <li><h6 class="footer-header">Forgd Site Map</h6></li>
      <li><a class="footer-link" routerLink="/">Home</a></li>
      <li><a class="footer-link" routerLink="/features">Features</a></li>
      <li><a class="footer-link" routerLink="/about">About</a></li>
      <li><a class="footer-link" routerLink="/contact">Contact</a></li>
      <li><a class="footer-link" routerLink="/donate">Donate</a></li>
      <!-- <li><a class="footer-link" routerLink="/check-status">Check Status</a></li>
      <li><a class="footer-link" routerLink="/blog">Blog</a></li> -->
    </ul>
    <ul id="footer-examples-list" class="footer-list">
      <li><h6 class="footer-header">Case Studies</h6></li>
      <li><a href="" class="footer-link">Garage Gym</a></li>
      <li><a href="" class="footer-link">CrossFit<span class="registered-logo-sm">&reg;</span> Box</a></li>
      <li><a href="" class="footer-link">Commercial Gym</a></li>
    </ul>
    <ul id="footer-support-list" class="footer-list">
      <li><h6 class="footer-header">Support</h6></li>
      <li><a href="" class="footer-link" routerLink="/help">Help Center</a></li>
      <li><a href="" class="footer-link" routerLink="/faq">FAQs</a></li>
      <li><a href="" class="footer-link" routerLink="/contact">Contact Us</a></li>
    </ul>
    <p id="copyright">&copy; 2017 Forgd</p>
    <ul id="social-list">
      <li class="social-list-item"><a href="" class="footer-social-link">facebook</a></li>
      <li class="social-list-item"><a href="" class="footer-social-link">twitter</a></li>
      <li class="social-list-item"><a href="" class="footer-social-link">instagram</a></li>
      <li class="social-list-item"><a href="" class="footer-social-link">linkedin</a></li>
      <li class="social-list-item"><a href="" class="footer-social-link">google+</a></li>
    </ul>
  </div>
</footer>