@import '../../../assets/scss/variables',
        '../../../assets/scss/main-classes';

footer {
  background: $footer-color;
  text-align: center;
  display: flex;
  justify-content: center;
  .section-content{
    margin: 4rem auto 2rem;
  }
}

.footer-header {
  margin: 1rem auto;
}
.footer-list {
  list-style-type: none;
  margin-bottom: 2rem;
}
.footer-link {
  text-decoration: none;
  color: darken(white, 20%);
  &:hover, &:active {
    color: darken(white, 50%);
  }
}

#copyright {
  color: darken(white, 50%);
}


@media only screen and (min-width: $break-point) and (min-height: $footer-height-desktop) {
  footer {
    position: fixed;
    top: auto; right: 0; bottom: 0; left: 0;
    z-index: -2;
    height: $footer-height-desktop;
    text-align: left;
    .section-content{
      display: grid;
      grid-template-areas:
        "list1 list2 list3"
        "copyright social social"
      ;
      grid-gap: 1rem;
    }
  }
  .social-header {
    display: none;
  }
  .footer-list {
    margin-bottom: 0rem;
    &:nth-of-type(2) {
      justify-self: center;
    }
    &:nth-of-type(3) {
      justify-self: end;
    }
  }
  .social-list-item {
    display: inline-block;
    margin-left: 1rem;
    &:first-of-type {
      margin-left: 0px;
    }
  }
  .social-list-item a {
    color: darken(white, 50%);
    &:hover, &:active {
      color: darken(white, 20%);
    }
  }
  #footer-site-map-list {
    grid-area: list1;
  }
  #footer-examples-list {
    grid-area: list2;
  }
  #footer-support-list {
    grid-area: list3;
  }
  #copyright {
    grid-area: copyright;
    align-self: end;
  }
  #social-list {
    grid-area: social;
    align-self: end;
    justify-self: end;
    
  }
}