<form [formGroup]="form" (submit)="submit()">

  <div class="slide-container">

    <div #slide1 class="slide slide-1">
      <h5 class="slide__header">First things first, please enter your name and email.</h5>
      <div class="slide__label-container">

         <label class="slide__label">
          <span class="slide__label__header">First Name<span class="red">*</span></span>
          <input type="text" 
                 name="firstName" 
                 class="slide__input"
                 formControlName="firstName"
                 [ngClass]="{
                  'input-text-has-error': form.controls.firstName.errors && form.controls.firstName.dirty
                 }">
          <ul class="slide__required-ul">
            <li *ngIf="form.controls.firstName.errors?.required && form.controls.firstName.dirty">This field is required</li>
            <li *ngIf="form.controls.firstName.errors?.maxlength && form.controls.firstName.dirty">Cannot be greater than 20 characters</li>
          </ul>
        </label>

        <label class="slide__label">
          <span class="slide__label__header">Last Name<span class="red">*</span></span>
          <input type="text" 
                 name="lastName" 
                 class="slide__input"
                 formControlName="lastName"
                 [ngClass]="{
                   'input-text-has-error': form.controls.lastName.errors && form.controls.lastName.dirty
                 }">
          <ul class="slide__required-ul">
            <li *ngIf="form.controls.lastName.errors?.required && form.controls.lastName.dirty">This field is required</li>
            <li *ngIf="form.controls.lastName.errors?.maxlength && form.controls.lastName.dirty">Cannot be greater than 20 characters</li>
          </ul>
        </label>
      

        <label class="slide__label">
          <span class="slide__label__header">Email<span class="red">*</span></span>
          <input type="email" 
                 name="email" 
                 class="slide__input"
                 formControlName="email"
                 [ngClass]="{
                    'input-text-has-error': form.controls.email.errors && form.controls.email.dirty
                 }">
          <ul class="slide__required-ul">
            <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
            <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid email</li>
          </ul>
        </label>
      </div>
      
      <div class="slide__btn-container-two">
        <button type="button" class="slide__btn slide__btn--next" (click)="nextSlide()">Next >></button>
      </div>
    </div>




   
    <div #slide2 class="slide slide-2">
      <h5 class="slide__header">A bit more details...don't worry, this is as personal as we get.</h5>
      <div class="slide__label-container">

        <label class="slide__label">
          <span class="slide__label__header">Skill Level<span class="red">*</span></span>
          <select class="slide__select"
                  name="skillLvl" 
                  formControlName="skillLvl"
                  [ngClass]="{ 'input-text-has-error': (form.controls.skillLvl.invalid  && form.controls.skillLvl.dirty) || (form.controls.skillLvl.invalid && formSubmitted === true)}">
                  <option value="beginner">Beginner</option>
                  <option value="intermediate">Intermediate</option>
                  <option value="advanced">Advanced</option>
                  <option value="athlete">Athlete</option>
          </select>
          <ul class="slide__required-ul">
            <li *ngIf="(form.controls.skillLvl.invalid  && form.controls.skillLvl.dirty) || (form.controls.skillLvl.invalid && formSubmitted === true)">Please select from the available options.</li>
          </ul>
        </label>


        <label class="slide__label">
          <span class="slide__label__header">Gender<span class="red">*</span></span>
          <select class="slide__select"
                  name="gender" 
                  formControlName="gender"
                  [ngClass]="{ 'input-text-has-error': (form.controls.gender.invalid  && form.controls.gender.dirty) || (form.controls.gender.invalid && formSubmitted === true)}">
                  <option value="female">Female</option>
                  <option value="male">Male</option>
          </select>
          <ul class="slide__required-ul">
            <li *ngIf="(form.controls.gender.invalid  && form.controls.gender.dirty) || (form.controls.gender.invalid && formSubmitted === true)">Please select from the available options.</li>
          </ul>
        </label>

      

        <label class="slide__label">
          <span class="slide__label__header">Desired WOD Type</span>
          <select class="slide__select"
                  name="wodType" 
                  formControlName="wodType">
                  <option value="any">Any</option>
                  <option value="AMRAP">AMRAP</option>
                  <option value="Singlet">Singlet</option>
                  <option value="Couplet">Couplet</option>
                  <option value="Triplet">Triplet</option>
                  <option value="Chipper">Chipper</option>
                  <option value="Bodyweight">Bodyweight</option>
                  <option value="EMOM">EMOM</option>
                  <option value="Tabata">Tabata</option>
          </select>
        </label>
      </div>
      <div class="slide__btn-container-two">
        <button #btnPrev type="button" class="slide__btn slide__btn--prev" (click)="prevSlide()"><< Previous</button>

        <button type="button" class="slide__btn slide__btn--next" (click)="nextSlide()">Next >></button>
      </div>
    </div>




    <div #slide3 class="slide slide-3">
      <h5 class="slide__header">Decisions, decisions</h5>
      <div class="slide__label-container">

        <label class="slide__label">
          <span class="slide__label__header">Do you want only bodyweight exercises?</span>
          <select class="slide__select"
                  name="bodyweightOnly" 
                  formControlName="bodyweightOnly">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="idc">I don't care</option>
          </select>
        </label>

        <label class="slide__label">
          <span class="slide__label__header">Do you want an endurance focused workout?</span>
          <select class="slide__select"
                  name="enduranceWod" 
                  formControlName="enduranceWod">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="idc">I don't care</option>
          </select>
        </label>

        <label class="slide__label">
          <span class="slide__label__header">Do you want to include strongman exercises?</span>
          <select class="slide__select"
                  name="includeStrongManExercises" 
                  formControlName="includeStrongManExercises">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="idc">I don't care</option>
          </select>
        </label>

      </div>
      <div class="slide__btn-container-two">
        <button #btnPrev type="button" class="slide__btn slide__btn--prev" (click)="prevSlide()"><< Previous</button>

        <button type="button" class="slide__btn slide__btn--next" (click)="nextSlide()">Next >></button>
      </div>
    </div>


    <div #slide4 class="slide slide-4">
      <h5 class="slide__header">Give me the deets</h5>
      <div class="slide__label-container">

        <label class="slide__label">
          <span class="slide__label__header">Do you want to focus on a specific muscle group?</span>
          <select class="slide__select"
                  name="muscleGrp"
                  formControlName="muscleGrp">
                  <option value="any">Any</option>
                  <option value="chest">Chest</option>
                  <option value="shoulders">Shoulders</option>
                  <option value="legs">Legs</option>
                  <option value="back">Back</option>
          </select>
        </label>


        <label class="slide__label">
          <span class="slide__label__header">Pick you poison</span>
          <select class="slide__select"
                  name="repScheme"
                  formControlName="repScheme">
                  <option value="any">Any</option>
                  <option value="lowRepHighWeight">Low Reps, High Weight</option>
                  <option value="highRepLowWeight">High Reps, Low Weight</option>
                  <option value="mediumRepsAndWeight">Medium Reps, Medium Weight</option>
          </select> 
        </label>

        <label class="slide__label">
          <span class="slide__label__header">Workout Length <span class="slide__label-note">*in minutes*</span></span> 
          <select class="slide__select"
                  name="wodTimer" 
                  formControlName="wodTimer">
                  <option value="any">5 - 60</option>
                  <option value="noTimer">No Timer</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                  <option value="30">30</option>
                  <option value="35">35</option>
                  <option value="40">40</option>
                  <option value="45">45</option>
                  <option value="50">50</option>
                  <option value="55">55</option>
                  <option value="60">60</option>
          </select>
        </label>
      </div>

      <div class="slide__btn-container-two">
        <button #btnPrev type="button" class="slide__btn slide__btn--prev" (click)="prevSlide()"><< Previous</button>

        <button type="button" class="slide__btn slide__btn--next" (click)="nextSlide()">Next >></button>
      </div>
    </div>



    <div #slide5 class="slide slide-5">
      <h5 class="slide__header">What are you PRs? (Personal Records)</h5>
      <div class="slide__label-container">
          <p class="slide__pr-note">NOTE: If you don't know your PRs, estimate.</p>
        
          <label class="slide__label">
            <span class="slide__label__header">Flat Bench Press</span>
            <input type="number" 
                   name="maxBench" 
                   class="slide__input"
                   formControlName="maxBench">
          </label>

          <label class="slide__label">
            <span class="slide__label__header">Back Squat</span>
            <input type="number" 
                   name="maxSquat" 
                   class="slide__input"
                   formControlName="maxSquat">
          </label>

          <label class="slide__label">
            <span class="slide__label__header">Snatch</span>
            <input type="number" 
                   name="maxSnatch" 
                   class="slide__input"
                   formControlName="maxSnatch">
          </label>

          <label class="slide__label">
            <span class="slide__label__header">Deadlift</span>
            <input type="number" 
                   name="maxDead" 
                   class="slide__input"
                   formControlName="maxDead">
          </label>

      </div>

      <div class="slide__btn-container-two">
        <button #btnPrev type="button" class="slide__btn slide__btn--prev" (click)="prevSlide()"><< Previous</button>

        <button type="button" class="slide__btn slide__btn--next" (click)="nextSlide()">Next >></button>
      </div>
    </div>



    <div #slide6 class="slide slide-6">
      <h5 class="slide__header">What equipment do you have at your disposal?</h5>
      <div class="slide__label-container">
          <p class="slide__pr-note">NOTE: If you want bodyweight only exercises you don't need to select any equipment.</p>
          
          <div class="slide__equip-flex">
            <label *ngFor="let eq of eqArray" class="slide__label-equip">
            <input  type="checkbox"
                    name="{{ eq.value }}"
                    value="{{ eq.value }}"
                    formControlName="{{ eq.value }}">
                    <span>{{ eq.span }}</span>
            </label>
          </div>
      </div>

      <div class="slide__btn-container-two">
        <button #btnPrev type="button" class="slide__btn slide__btn--prev" (click)="prevSlide()"><< Previous</button>

        <button type="submit" class="slide__btn slide__btn--submit" >Submit</button>

      </div>
    </div>

    
    <p class="red">{{ errorMessage }}</p>
  </div>
</form>