<form action="/workout-generator" method="post">

  <label id="form-first-name">First Name*
    <input type="text" name="firstName" class="input-text" value="Colin" required>
  </label>

  <label id="form-last-name">Last Name*
    <input type="text" name="lastName" class="input-text" value="Knebl" required>
  </label>

  <label id="form-email">Email*
    <input type="email" name="email" class="input-text" value="colin.knebl@outlook.com" required>
  </label>

  <label id="form-skill-lvl">Skill Level
    <select name="skillLvl" id="">
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>
  </label>

  <label id="form-wod-type">Desired WOD Type
    <select name="wodType">
      <option value="amrap">AMRAP</option>
      <option value="any">Any</option>
      <option value="bodyweight">Bodyweight</option>
      <option value="chipper">Chipper</option>
      <option value="couplet">Couplet</option>
      <option value="emom">EMOM</option>
      <option value="endurance">Endurance</option>
      <option value="hybrid">Hybrid</option>
      <option value="singlet">Singlet</option>
      <option value="strength">Strength</option>
      <option value="strongman">Strongman</option>
      <option value="tabata">Tabata</option>
      <option value="timeCap">Time Cap</option>
      <option value="weightlifting">Weightlifting</option>
    </select> 
  </label>

  <label id="form-muscle-grp">Muscle Group Focus
    <select name="muscleGrp">
      <option value="shoulders">Shoulders</option>
      <option value="any">Any</option>
      <option value="legs">Legs</option>
      <option value="back">Back</option>
      <option value="chest">Chest</option>
    </select>
  </label>

  <label id="form-rep-scheme">Desired Rep Scheme
    <select name="repScheme">
      <option value="any">Any</option>
      <option value="21-15-9">21 - 15 - 9</option>
      <option value="lowRepHighWeight">Low Reps, High Weight</option>
      <option value="highRepLowWeight">High Reps, Low Weight</option>
      <option value="mediumRepsAndWeight">Medium Reps, Medium Weight</option>
    </select> 
  </label>

  <label id="form-timer">WOD Timer <span class="wod-span">*in minutes*</span>
    <select name="wodTimer">
      <option value="any">5 - 60</option>
      <option value="noTimer">No Timer</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
      <option value="32">32</option>
      <option value="33">33</option>
      <option value="34">34</option>
      <option value="35">35</option>
      <option value="36">36</option>
      <option value="37">37</option>
      <option value="38">38</option>
      <option value="39">39</option>
      <option value="40">40</option>
      <option value="41">41</option>
      <option value="42">42</option>
      <option value="43">43</option>
      <option value="44">44</option>
      <option value="45">45</option>
      <option value="46">46</option>
      <option value="47">47</option>
      <option value="48">48</option>
      <option value="49">49</option>
      <option value="50">50</option>
      <option value="51">51</option>
      <option value="52">52</option>
      <option value="53">53</option>
      <option value="54">54</option>
      <option value="55">55</option>
      <option value="56">56</option>
      <option value="57">57</option>
      <option value="58">58</option>
      <option value="59">59</option>
      <option value="60">60</option>
    </select>
  </label>

  <fieldset id="form-lifts">
    <legend>Enter Your PRs</legend>
    <div class="fieldset-lifts-grid">
      <label>Flat Bench Press
        <input type="number" class="input-max" name="maxBench">
      </label>
      <label>Back Squat
        <input type="number" class="input-max" name="maxSquat">
      </label>
      <label>Snatch
        <input type="number" class="input-max" name="maxSnatch">
      </label>
      <label>Deadlift
        <input type="number" class="input-max" name="maxDead">
      </label>
    </div>
  </fieldset>

  <fieldset id="form-equip">
    <legend>Equipment</legend>
    <div class="fieldset-equip-grid">
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="barbell"> Barbell
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="dumbbells"> Dumbbells
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="jumpRope"> Jump Rope
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="box"> Plyo Box
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="kBell"> Kettle Bell
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="dipStation"> Dip Station
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="pullUpBar"> Pull-Up Bar
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="weightPlates"> Weight Plates
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="medBall"> Medicine Ball
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="rings"> Rings
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="climbimgRope"> Climbing Rope
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="conditioningRope"> Conditioning Ropes
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="sled"> Sled
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="rack"> Rack
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="bench"> Bench
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="sledgeHammer"> Sledge Hammer
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="abMat"> AbMat
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="resBands"> Resistance Bands
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="tire"> Tire
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="chains"> Chains
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="pegBoard"> Peg Board
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="ghd"> GHD
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="airBike"> Air Bike
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="rower"> Rower
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="skiErg"> SkiErg
      </label>
      <label>
        <input type="checkbox" class="input-equip" name="equipment" value="Treadmill"> Treadmill
      </label>
    </div>
  </fieldset>

  <button id="form-submit-btn" type="submit">Give me my custom workout!</button>
  
</form>