<form  method="post">
  <label id="form-first-name">First Name*
    <input type="text" name="first-name" class="input-text" required>
  </label>
  <label id="form-last-name">Last Name*
    <input type="text" name="last-name" class="input-text" required>
  </label>
  <label id="form-email">Email*
    <input type="email" name="email" class="input-text" required>
  </label>
  <label id="form-wod-type">WOD Type*
    <select name="wod-type" id="">
      <option value="amrap">AMRAP</option>
      <option value="bodyweight">Bodyweight</option>
      <option value="chipper">Chipper</option>
      <option value="couplet">Couplet</option>
      <option value="emom">EMOM</option>
      <option value="singlet">Singlet</option>
      <option value="triplet">Triplet</option>
    </select>
  </label>
  <label id="form-muscle-grp">Muscle Group Focus*
    <select name="muscle-grp">
      <option value="legs">Legs</option>
    </select>
  </label>
  <label>
    
  </label>
  <button id="form-submit-btn" type="submit">Give me my custom workout!</button>
</form>