<app-mobile-nav></app-mobile-nav>


<section id="content-wrapper" class="content-wrapper">

  <app-header></app-header>

  <!-- rest of the content below -->
  <section id="features" class="section">
    <div class="section-content">
      <h2 class="section-head color-gradient">The complete CrossFit<span class="registered-logo-md">&reg;</span> workout platform</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore enim dolore et delectus illum unde aliquid tempora laboriosam amet! Harum, sapiente ullam? Quae eaque amet doloremque similique ipsa soluta iste, quos voluptatibus commodi corrupti ut repellendus quam impedit voluptas.</p>
      <ul>
        <li>Custom WOD Generator</li>
        <li>Muscle Targeting</li>
        <li>Workout Tracker</li>
        <li>Timer</li>
        <li>Social Media Integration</li>
      </ul>
      <button class="btn features-btn">
        See Complete List of Features
      </button>
    </div>
  </section>


  <section id="about" class="section">
    <div class="section-content">
      <h2 class="section-head color-gradient">Adaptable to Any Setting</h2>
      <p>Whether you exercise in your home/garage gym, your local CrossFit<span class="registered-logo-sm">&reg;</span> box, or the full-scale commercial gym, this app can power your workouts. All of these venues have different equipment available and it can be difficult coming up with creative ways to use the tools at your disposal. This app takes the guess work out of your work out.</p>
      <div class="about-setting">
        <img class="about-img" src="http://colinknebl.com/assets/images/garage-gym.png" alt="commercial gym" width="170" height="95">
        <p>Garage Gym</p>
      </div>
      <div class="about-setting">
        <img class="about-img" src="http://colinknebl.com/assets/images/crossfit-box.png" alt="commercial gym" width="170" height="95">
        <p>CrossFit<span class="registered-logo-sm">&reg;</span> Box</p>
      </div>
      <div class="about-setting">
        <img class="about-img" src="http://colinknebl.com/assets/images/commercial-bldg.png" alt="commercial gym" width="170" height="95">
        <p>Commercial Gym</p>
      </div>
    </div>
  </section>


  <section id="demonstrate" class="section">
    <div class="section-content">
      <h2 class="section-head color-gradient">Try It Out</h2>
        <app-demonstrate></app-demonstrate>
    </div>
  </section>


  <section id="cta" class="section">
    <div class="section-content">
      <h2>Download the App and start exercising today!</h2>
    </div>
  </section>    

  <app-footer></app-footer>

</section>


























































<!-- <app-mobile-nav></app-mobile-nav>

<section id="content-wrapper" class="content-wrapper">
  
  <app-header></app-header>


  <section id="features" class="section">
    <div class="section-content">
      <h2 class="section-head color-gradient">The complete CrossFit<span class="registered-logo-md">&reg;</span> workout platform</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore enim dolore et delectus illum unde aliquid tempora laboriosam amet! Harum, sapiente ullam? Quae eaque amet doloremque similique ipsa soluta iste, quos voluptatibus commodi corrupti ut repellendus quam impedit voluptas.</p>
      <ul>
        <li>Custom WOD Generator</li>
        <li>Muscle Targeting</li>
        <li>Workout Tracker</li>
        <li>Timer</li>
        <li>Social Media Integration</li>
      </ul>
      <button class="btn features-btn">
        See Complete List of Features
      </button>
    </div>
  </section>


  <section id="about" class="section">
    <div class="section-content">
      <h2 class="section-head color-gradient">Adaptable to Any Setting</h2>
      <p>Whether you exercise in your home/garage gym, your local CrossFit<span class="registered-logo-sm">&reg;</span> box, or the full-scale commercial gym, this app can power your workouts. All of these venues have different equipment available and it can be difficult coming up with creative ways to use the tools at your disposal. This app takes the guess work out of your work out.</p>
      <div class="about-setting">
        <img class="about-img" src="http://colinknebl.com/assets/images/garage-gym.png" alt="commercial gym" width="170" height="95">
        <p>Garage Gym</p>
      </div>
      <div class="about-setting">
        <img class="about-img" src="http://colinknebl.com/assets/images/crossfit-box.png" alt="commercial gym" width="170" height="95">
        <p>CrossFit<span class="registered-logo-sm">&reg;</span> Box</p>
      </div>
      <div class="about-setting">
        <img class="about-img" src="http://colinknebl.com/assets/images/commercial-bldg.png" alt="commercial gym" width="170" height="95">
        <p>Commercial Gym</p>
      </div>
    </div>
  </section>


  <section id="cta" class="section">
    <div class="section-content">
      <h2>Download the App and start exercising today!</h2>
    </div>
  </section>

  <app-footer></app-footer>
</section> -->