/* You can add global styles to this file, and also import other style files */
@import './assets/scss/about';
@import './assets/scss/cta-bar',
        './assets/scss/features',
        './assets/scss/variables',
        './assets/scss/nav',
        './assets/scss/landing',
        './assets/scss/demonstrate';

@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.super {
  vertical-align: top;
}
.registered-logo-lg {
  @extend .super;
  font-size: 1.25rem;
}
.registered-logo-md {
  @extend .super;
  font-size: .75rem;
}
.registered-logo-sm {
  @extend .super;
  font-size: .5rem;
}


.btn {
  display: block;
  padding: 1rem 3rem;
  background: rgba(70,224,188,0.6);
  color:whitesmoke;
  border: 3px solid $pri-color;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  outline: 0;
  transition: background .25s, color .25s;
  &:active, &:hover {
    background: $pri-color;
    color: whitesmoke;
  }
}




.section {
  padding: 6rem 1rem;
}
.section-head {
  text-align: center;
}
.section-content {
  margin: auto;
  width: 90%;
  max-width: 800px;
}
.color-gradient {
  color: $pri-color;
  background: linear-gradient(to right, #1EF3A7, $pri-color);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}


