





<section id="landing">
  <header>
    <img class="logo" src="http://colinknebl.com/assets/images/Logo.png" alt="logo" width="165" height="37.5">
    <app-nav></app-nav>




    <nav class="desktop-menu">
      <ul id="menu" class="nav-menu-list">
        <li class="nav-menu-item"><a href="#" class="nav-menu-link">Features</a><span class="pipe">|</span></li>
        <li class="nav-menu-item"><a href="#" class="nav-menu-link">Pricing</a><span class="pipe">|</span></li>
        <li class="nav-menu-item"><a href="#" class="nav-menu-link">Examples</a><span class="pipe">|</span></li>
        <li class="nav-menu-item"><a href="#" class="nav-menu-link">More</a><span class="pipe">|</span></li>
        <li class="nav-menu-item"><a href="#" class="nav-menu-link">Check Status</a><span class="pipe">|</span></li>
        <li class="nav-menu-item"><a href="#" class="nav-menu-link">Get Updates</a></li>
      </ul>
      <!-- <ul id="more-menu" class="nav-menu-list">
        <li class="nav-menu-item"><a href="#" class="nav-menu-link">Payments</a></li>
        <li class="nav-menu-item"><a href="#" class="nav-menu-link">Software</a></li>
        <li class="nav-menu-item"><a href="#" class="nav-menu-link">What's New</a></li>
        <li class="nav-menu-item"><a href="#" class="nav-menu-link">Blog</a></li>
        <li class="nav-menu-item"><a href="#" class="nav-menu-link">FAQs</a></li>
        <li class="nav-menu-item"><a href="#" class="nav-menu-link">Contact</a></li>
      </ul> -->
    </nav>


  </header>



  <div class="welcome-container">
    <p class="welcome-msg">The last CrossFit<span class="registered-logo-lg">&reg;</span> App you will ever need</p>
    <div class="welcome-description"><h1>WODwhiz</h1> <p>is the complete, full-featured CrossFit<span class="registered-logo-md">&reg;</span> App</p></div>
    <div class="btn-container">
      <button id="status-btn" class="btn welcome-btn">Check App Status</button>
      <button id="updates-btn" class="btn welcome-btn">Get Updates</button>
    </div>
  </div>


</section>

