@import '../../../assets/scss/variables',
        '../../../assets/scss/main-classes';

.nav-menu-item {
  border-right: 2px solid $teal;
  &:last-of-type {
    border-right: none;
  }
}

.section-content {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}











