
<header id="nav-bar">
  <a routerLink="/">
    <img class="logo" src="../../../assets/images/logo.png" alt="logo" width="165" height="81.3">
  </a>

  <div id="nav-btn-push-right" class="nav-btn" (click)="navOpen()">
    <svg width="25" height="24">
      <line x1="1" y1="1" x2="24" y2="1" />
      <line x1="1" y1="12" x2="24" y2="12" />
      <line x1="1" y1="23" x2="24" y2="23" />
    </svg>
  </div> 

  <nav class="desktop-menu">
    <ul id="menu" class="nav-menu-list">
      <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/">Home</a><span class="pipe">|</span></li>
      <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/features">Features</a><span class="pipe">|</span></li>
      <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/about">About</a><span class="pipe">|</span></li>
      <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/contact">Contact</a><span class="pipe">|</span></li>
      <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/donate">Donate</a></li>
      <!-- <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/blog">Blog</a></li> -->
      <!-- <li class="nav-menu-item"><a class="nav-menu-link" routerLink="/get-updates">Get Updates</a></li> -->
    </ul>
    <!-- <ul id="more-menu" class="nav-menu-list">
      <li class="nav-menu-item"><a href="#" class="nav-menu-link">Payments</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link">Software</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link">What's New</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link">Blog</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link">FAQs</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link">Contact</a></li>
    </ul> -->
  </nav>

</header>



